<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<form><nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyTrips</a>

        </div>

        <ul class="nav navbar-nav">

            <li class="active"><a href="trips">Trips</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="login">Login</a></li>

        </ul>
    </div>
</nav>
</form>


    <form th:action="@{/login}" method="POST" class="form-signin">
<div class="container">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="textarea" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
</div>

<div class="form-group">

                               <button type="submit"  id="login" name="login">Log in</button>
</div>

<div class="form-group">

                                <button type="register" id="signup" name="signup">sign up</button>

</div>
    </form>>




</body>

</html>
