
<!DOCTYPE html>

<html lang="en">

<head>

    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyTrips</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="trips">Trips</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h2>User's name Profile</h2>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="textarea" class="form-control" id="firstName" placeholder="Enter first name" name="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="textarea" class="form-control" id="lastName" placeholder="Enter last name" name="lastName">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="textarea" class="form-control" id="Username" placeholder="Enter Username" name="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password"
                   name="password">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="textarea" class="form-control" id="city" placeholder="Enter your city"
                   name="city">
        </div>
        <div class="form-group">
            <label for="adress">Adress</label>
            <input type="textarea" class="form-control" id="adress" placeholder="Enter adress"
                   name="adress">
        </div>
        <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="textarea" class="form-control" id="telephone" placeholder="Enter telephone"
                   name="telephone">
        </div>
    </form>
</div>

</body>

</html>


